<!DOCTYPE html> <title>Vase</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link
	rel="stylesheet"
	href="{{ url_for('static', filename='css/style.css') }}"
/>
<html lang="en">
	<body>
		<div id="desktopnav">
			<nav>
				<a href="/">Vase</a> <a href="/clipper">clipper</a>
				<a href="/clips">clips</a>
				<a href="/sounds">sounds</a>
				<a href="/admin">admin</a>
			</nav>
		</div>
		<div id="mobilenav">
			<nav>
				<a href="/">Vase</a>
			</nav>
		</div>
		<div class="block">{% block content %}{% endblock %}</div>
	</body>
</html>
