{% extends "base.html" %} {% block content %}
<div class="labeledinp">
	<input type="text" id="searchterm" class="searchbox" />
	<button type="button" id="searchbtn" class="searchbtn">Search</button>
</div>
{% if searchterm != "" %}
<h2>"{{searchterm}}"</h2>
{% endif %} {% for clip in clips %}
<div class="cliprow">
	<a href="{{clip['url']}}"><h3>{{clip['clipname']}}</h3> </a>
	<a href="{{clip['streamurl']}}"><h4>{{clip['streamname']}}</h4> </a>
	<audio controls>
		<source src="{{clip['audiourl']}}" type="audio/mp3" />
	</audio>
	<a href="{{clip['audiourl']}}" id="download" download>
		<button>Download</button>
	</a>
	{% if clip['editurl'] %}
	<a href="{{ clip['editurl'] }}">
		<button>Edit</button>
	</a>
	{% endif %}
</div>
{% endfor %} {% if seeall %}
<a href="/clips/all"><button>See All</button> </a>
{% endif %}
<a href="/clips/upload"><h4>upload clip</h4></a>
<script
	src="{{ url_for('static', filename='scripts/cliplist.js') }}"
	type="module"
></script>
{% endblock %}
